In [1]:
#run the code below
x1=1.23
x2=x1
x1=2.34

In [3]:
#LAB 2.1
#1 point
#your code to figure out if x1 and x2 refer to the same object (i.e., two names of the same object)
#hint: use the function id and the function print
id(x1)==id(x2)

False

In [4]:
#1 point
#explain your code and your answer in English

#it is not the same object because after reassign x1, the address in the computer memory has been changed.

In [5]:

#"remove" the two variables

del x1, x2

In [6]:

#LAB 2.2
# run the code below
y1 = [1, 2, 3]
y2 = y1
y2[0] = 100

In [7]:
#1 point
#your code to figure out if y1 and y2 refer to the same object
#hint: use the function id and the function print

In [8]:
#explain your code and your answer in English

#they refer to same object because at the beginning it created one id and when y2 has changed one object, it is also changed in y1.

In [9]:
#explain your code and your answer in English

#they refer to same object because at the beginning it created one id and when y2 has changed one object, it is also changed in y1.

In [10]:
# run the code below
y3 = [1, 2, 3]
y4 = [1, 2, 3]

In [12]:
#1 point
#your code to figure out if y3 and y4 refer to the same object
#hint: use the function id and the function print
id(y3) == id(y4)

False

In [13]:
#1 point
#explain your code and your answer in English

#y3 and y4 are not refer to the same object because they were created as two different list objects with different memory addresses (different ids), even though their contents are equal.

In [14]:
del y3,y4

In [15]:
# run the code below
s1 = 'Python'
s2 = 'Python'

In [16]:
#1 point
#your code to figure out if s1 and s2 refer to the same object
#hint: use the function id and the function print

id(s1) == id(s2)

True

In [17]:

# s1 and s2 refer to the same object because Python automatically interns
# short string literals. Since both variables were assigned the same string
# 'Python', they point to the same memory location, so id(s1) == id(s2).

In [18]:
del s1,s2

In [20]:
# run the code below
s3 = 'Python is great'
s4 = 'Python is great'

In [21]:
#1 point
#your code to figure out if s3 and s4 refer to the same object
#hint: use the function id and the function print
id(s3)==id(s4)

False

In [22]:
#1 point
#explain your code and your answer in English

# s3 and s4 usually refer to the same object because Python may reuse
# identical string literals (string interning). In this case, since both
# variables were assigned exactly 'Python is great', they point to the same
# memory location.

In [23]:
del s3,s4