In [4]:
x = 0.5
if x>=1:
    y = 1
elif x>= 0:
    y = x
else:
    y=0
print(y)

0.5

In [5]:
print('x is', x, ', y is', y )

x is 0.5 , y is 0.5

In [17]:
#pre-calculate how much tax you will pay in the first six brackets (2 points)
#assuming you are single
A=[None, None, None, None, None,None]
#your code to set values in the list A
#A[0]=???

A[0] = 11925 * 0.10
A[1] = (48475 - 11925) * 0.12
A[2] = (103350 - 48475) * 0.22
A[3] = (197300- 103350) * 0.24
A[4] = (250525 - 197300) * 0.32
A[5] = (626350 - 250525) * 0.35

print(A)

[1192.5, 4386.0, 12072.5, 22548.0, 17032.0, 131538.75]

In [41]:

A[0] = 11925 * 0.10
A[1] = (48475 - 11925) * 0.12
A[2] = (103350 - 48475) * 0.22
A[3] = (197300 - 103350) * 0.24
A[4] = (250525 - 197300) * 0.32
A[5] = (626350 - 250525) * 0.35

income = int(input("Enter your income: ")) 
tax = None

if income <= 11925:
    tax = income * 0.10

elif 11925 < income <= 48475:
    tax = A[0] + (1925 - A[0])*0.12

elif 48475 < income <= 103350:
    tax = A[0] + A[1] + (income - 48475)*0.22 

elif 103350 < income <= 197300:
    tax = A[0] + A[1] + A[2] + (income - 103350)*0.24 

elif 197300 < income <= 250525 :
    tax = A[0] + A[1] +A[2] +A[3] +(income - 197300)*0.32 

elif 250525 < income <= 626350:
    tax = A[0] + A[1] +A[2] +A[3] +A[4] + (income-250525)*0.35 

else: 
   tax = A[0] + A[1] +A[2] +A[3] +A[4] + A[5] + (income-626350)*0.37
    

print("income is : ", income, "tax is: ", tax)

Enter your income:  12345678

income is :  12345678 tax is:  4524921.11